{% extends 'base.html' %}

{% block title %}
profile
{% endblock %}

{% block body %}
<section>
    <div class="container -background-color align-items-center p-0 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-5 justify-content-center">
            <div class="col mb-5">
                <table>
                    <tr>
                        <th>نام کاربری : {{ profile.user.username }}</th>
                    </tr>
                    <tr>
                        <th>نام : {{ profile.user.first_name }}</th>
                    </tr>
                    <tr>
                        <th>نام خانوادگی : {{ profile.user.last_name }}</th>
                    </tr>
                    <tr>
                        <th>تلفن : {{ profile.phone }}</th>
                    </tr>
                    <tr>
                        <th>آدرس ایمیل : {{ profile.user.email }}</th>
                    </tr>
                    <tr>
                        <th>آدرس : {{ profile.address }}</th>
                    </tr>
                </table>
                <a href="{% url 'accounts:update' %}">تغییر اطلاعات</a>
                <a href="{% url 'accounts:change' %}">تغییر کلمه عبور</a>
            </div>
            <div class="col-6">
                <img src="{{ profile.profile_image.url }}" style="width: 300px;height: 200px">
            </div>

        </div>

    </div>
</section>
{% endblock %}