{% extends 'base.html' %}

{% block title %}detail{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/css/new_detail.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'home/js/detail.js' %}"></script>
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container">
	<div class="card">
		<div class="container-fliud">
			<div class="wrapper row">
				<div class="preview col-md-6">

					<div class="preview-pic tab-content">
						{% for img in images %}
						<div class="tab-pane {% if forloop.first %} active {% endif %}" id="{{ img.name }}"><img
								src="{{ img.image.url }}"/></div>
						{% endfor %}
					</div>
					<ul class="preview-thumbnail nav nav-tabs">
						{% for img in images %}
						<li class="{% if forloop.first %} active {% endif %}"><a data-target="#{{ img.name }}"
																				 data-toggle="tab"><img
								src="{{ img.image.url }}"/></a></li>
						{% endfor %}
					</ul>

				</div>
				<div class="details col-md-6">
					<h3 class="product-title">{{ product.name }}</h3>
					<div class="rating">
						<div class="stars">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
						<span class="review-no">41 reviews</span>
					</div>
					<p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia
						sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
					<h4 class="price">current price: <span>$180</span></h4>
					<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
					<h5 class="sizes">sizes:
						<span class="size" data-toggle="tooltip" title="small">s</span>
						<span class="size" data-toggle="tooltip" title="medium">m</span>
						<span class="size" data-toggle="tooltip" title="large">l</span>
						<span class="size" data-toggle="tooltip" title="xtra large">xl</span>
					</h5>
					<h5 class="colors">colors:
						<span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
						<span class="color green"></span>
						<span class="color blue"></span>
					</h5>
					<div class="action">
						<button class="add-to-cart btn btn-default" type="button">add to cart</button>
						<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>


<div class="row px-5 pt-5">
	{% for i in create %}
	<div class="col-md-2 mt-4 mt-sm-0 card-container">
		<div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">
			<img class="img-fluid d-block mx-auto" src="{{ i.image.url }}" alt="Pilot Aviator Glasses Gear Image">
			<div class="card-body p-4 py-0 h-xs-440p">
				<h5 class="card-title font-weight-semi-bold mb-3 w-xl-220p mx-auto">Pilot Aviator Glasses</h5>
				<p class="price">$45.00</p>
			</div>
			<p class="btn w-100 px-4 mx-auto">
				<input type="submit" class="btn btn-dark btn-lg w-100" name="add-button" value="Buy Now">
			</p>
		</div>
	</div>
	{% endfor %}

	<div class="col-md-4 mt-4 mt-sm-0 card-container">
		<div class="card text-center product p-4 pt-5 border-2 h-100 rounded-0">
			<img class="img-fluid d-block mx-auto"
				 src="https://raw.githubusercontent.com/solodev/bootstrap-cards-shopping-cart/master/images/gear-hat.jpg"
				 alt="Command Hats Gear Image">
			<div class="card-body p-4 py-0 h-xs-440p">
				<h5 class="card-title font-weight-semi-bold mb-3 w-xl-220p mx-auto">Command Hats</h5>
				<p class="price">$15.00</p>
			</div>
			<p class="btn w-100 px-4 text-center mx-auto">
				<input type="submit" class="btn btn-dark btn-lg w-100" name="add-button" value="Buy Now"></p>
		</div>
	</div>

	<div class="col-md-4 mt-4 mt-sm-0 card-container">
		<div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">
			<img class="img-fluid d-block mx-auto"
				 src="https://raw.githubusercontent.com/solodev/bootstrap-cards-shopping-cart/master/images/gear-tshirt.jpg"
				 alt="Mission T-Shirts Gear Image">
			<div class="card-body p-4 py-0 h-xs-440p">
				<h5 class="card-title font-weight-semi-bold mb-3 w-xl-220p mx-auto">Mission T-Shirts</h5>
				<p class="price">$25.00</p>
			</div>
			<p class="btn w-100 px-4 mx-auto">
				<input type="submit" class="btn btn-dark btn-lg w-100" name="add-button" value="Buy Now"></p>


		</div>
	</div>
</div>

<br>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>سایر محصولات</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="row">
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/ipad.jpg" class="img-responsive" alt="">
									</div>
									<div class="thumb-content">
										<h4>Apple iPad</h4>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p class="item-price"><strike>$400.00</strike> <b>$369.00</b></p>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/headphone.jpg" class="img-responsive"
											 alt="">
									</div>
									<div class="thumb-content">
										<h4>Sony Headphone</h4>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p class="item-price"><strike>$25.00</strike> <b>$23.99</b></p>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/macbook-air.jpg" class="img-responsive"
											 alt="">
									</div>
									<div class="thumb-content">
										<h4>Macbook Air</h4>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
											</ul>
										</div>
										<p class="item-price"><strike>$899.00</strike> <b>$649.00</b></p>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/nikon.jpg" class="img-responsive" alt="">
									</div>
									<div class="thumb-content">
										<h4>Nikon DSLR</h4>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p class="item-price"><strike>$315.00</strike> <b>$250.00</b></p>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/play-station.jpg" class="img-responsive"
											 alt="">
									</div>
									<div class="thumb-content">
										<h4>Sony Play Station</h4>
										<p class="item-price"><strike>$289.00</strike> <span>$269.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/macbook-pro.jpg" class="img-responsive"
											 alt="">
									</div>
									<div class="thumb-content">
										<h4>Macbook Pro</h4>
										<p class="item-price"><strike>$1099.00</strike> <span>$869.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/speaker.jpg" class="img-responsive" alt="">
									</div>
									<div class="thumb-content">
										<h4>Bose Speaker</h4>
										<p class="item-price"><strike>$109.00</strike> <span>$99.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/galaxy.jpg" class="img-responsive" alt="">
									</div>
									<div class="thumb-content">
										<h4>Samsung Galaxy S8</h4>
										<p class="item-price"><strike>$599.00</strike> <span>$569.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/iphone.jpg" class="img-responsive" alt="">
									</div>
									<div class="thumb-content">
										<h4>Apple iPhone</h4>
										<p class="item-price"><strike>$369.00</strike> <span>$349.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/canon.jpg" class="img-responsive" alt="">
									</div>
									<div class="thumb-content">
										<h4>Canon DSLR</h4>
										<p class="item-price"><strike>$315.00</strike> <span>$250.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/pixel.jpg" class="img-responsive" alt="">
									</div>
									<div class="thumb-content">
										<h4>Google Pixel</h4>
										<p class="item-price"><strike>$450.00</strike> <span>$418.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/watch.jpg" class="img-responsive" alt="">
									</div>
									<div class="thumb-content">
										<h4>Apple Watch</h4>
										<p class="item-price"><strike>$350.00</strike> <span>$330.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<br>

<div class="container">
	<div class="card">
		<div class="container-fluid">
			<div class="swiper mySwiper">
				<div class="swiper-wrapper">
					{% for i in create %}
					<div class="swiper-slide">
						<div class="card" style="width: 23rem;">
							<img src="{{ i.image.url }}" class="card-img-top" style="height: 250px" alt="...">
							<div class="card-body">
								<h5 class="card-title">{{ i.name }}</h5>
								<a href="{% url 'home:detail' i.id %}" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<!-- Swiper JS -->
			<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
		</div>
	</div>
</div>






{% endblock %}


