{% extends 'base.html' %}
{% block title %}cart{% endblock %}

{% block body %}
<h1>cart</h1>
<div class="container">

    <div class="row">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">image</th>
                <th scope="col">product</th>
                <th scope="col">size</th>
                <th scope="col">color</th>
                <th scope="col">price</th>
                <th scope="col">quantity</th>
                <th scope="col">total price</th>
                <th scope="col">remove</th>
            </tr>
            </thead>
            <tbody>
            {% for cart in carts %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><img src="{{ cart.product.image.url }}" style="width: 100px;height: 100px"></td>
                <td>{{ cart.product.name }}</td>
                <td>{{ cart.variant.size_variant.name }}</td>
                <td>{{ cart.variant.color_variant.name }}</td>
                <td>
                    {% if cart.product.status is not None %}
                    {{ cart.variant.total_price }}
                    {% else %}
                    {{ cart.product.total_price }}
                    {% endif %}
                </td>
                <td>{{ cart.quantity }}</td>
                <td>
                    {% if cart.product.status is not None %}
                    {% widthratio cart.variant.total_price 1 cart.quantity %}
                    {% else %}
                    {% widthratio cart.product.total_price 1 cart.quantity %}
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'cart:remove_cart' cart.id %}">remove</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="7">Total</td>
                <td>{{ total }}</td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="row">
        <form method="POST" action="{% url 'order:order_create' %}">
            {% csrf_token %}
            <div class="card" style="padding: 10px; background-color: #ad9f9f">
                <label for="">email:
                    <input type="email" name="email" value="{{ user.email }}">
                </label>
                <label for="">name:
                    <input type="text" name="f_name" value="{{ user.firs_name }}" required>
                </label>
                <label for="">last name:
                    <input type="text" name="l_name" value="{{ user.last_name }}">
                </label>
                <label for="">address:
                    <input type="text" name="address" value="{{ user.profile.address }}">
                </label>
            </div>
            <button type="submit" class="btn btn-outline-danger">order</button>
        </form>
    </div>


</div>
{% endblock %}