{% load static %}

<section class="mt-5">
    <div class="container mt-5 text-right">
        <hr>
        <div class="row mt-5 mb-5">
            <div class="col-md-3">
                <p class="text-align-right"> خدمات مشتریان </p>
                <hr>
                <ul>
                    <li><a href="#" class="-a-tag">شرایط گارانتی</a></li>
                    <li><a href="#" class="-a-tag">قوانین و مقررات</a></li>
                    <li><a href="#" class="-a-tag">شرایط مرجوع نمودن کالا</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="text-align-right"> دسترسی سریع </p>
                <hr>
                <ul>
                    <li><a href="#" class="-a-tag">شماره حساب های شرکت</a></li>
                    <li><a href="#" class="-a-tag">رویه ارسال سفارش</a></li>
                    <li><a href="#" class="-a-tag">زمینه های فعالیت شرکت</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <p class="text-align-right"> تماس با ما </p>
                <hr>
                <ul>
                    <li>تلفن : 02135434</li>
                    <li>ایمیل : test@sevenet.net</li>
                    <li>آدرس : تهران - خیابان ولیعصر مجتمع فلان</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<footer id="sticky-footer" class="flex-shrink-3 py-5 bg-dark text-white-50 mb-5">
    <div class="container text-center">
        <small>Copyright &copy; Sevenet.net </small>
    </div>
</footer>
