{% load static %}
{% block css %}

{% endblock %}


<header class="-shadow">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home:home' %}">
                <img src="{% static '/logo/sevenet.jpg' %}" width="120" height="60" alt="">
            </a>
            <a class="navbar-brand -c1" href="{% url 'home:home' %}">Sevenet.ir</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex float-sm-right" action="{% url 'home:product' %}">
                    <input class="form-control me-2" type="search" placeholder="جستجو" aria-label="Search"
                           name="search">
                    <button class="btn -btn-outline-color" type="submit" value="search">جستجو</button>
                </form>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">صفحه اصلی</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            محصولات
                        </a>
                        <ul class="dropdown-menu">
                            {% for cat in category %}
                            <li><a class="dropdown-item" href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
                            {% for data in cat.sub.all %}
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ data.get_absolute_url }}">{{ data.name }}</a></li>
                            </ul>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">درباره ما</a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown1" href="#" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="bi bi-person-circle"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">پروفایل</a></li>
                            <li>
                                <a class="dropdown-item" href="{% url 'accounts:logout' %}">خروج</a>
                            </li>
                        </ul>
                    </li>

                    {% else %}
                    <a class="nav-link" href="{% url 'accounts:login' %}">ورود</a>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

